---
title: Analyst Relations at GitLab
description: Insight about AR at GitLab
suppress_header: true
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %img.hero-image-small{ src: "/images/comparison/gitlab-logo.svg" }
    %h1 Analyst Relations at GitLab
    %p Insight about AR at GitLab
.gitlab-content-container
  .content
    %h2 What are analysts saying about GitLab and how are we building off their insight and input?
    .content
      %h3 Where does GitLab engage?
      %p GitLab appears in several areas within the analyst arena. Areas we engage analysts include:
      %ul
        %li DevOps
        %li Agile Project management
        %li Planning/Project Management
        %li Source Code Management (SCM)
        %li Continuous Integration and Continuous Delivery (CI/CD)
        %li Value Stream Management (VSM)
        %li Application Security (AppDevSec)
        %li Release Automation
        %li Continuous Deployment and Release Automation (CDRA)
    .content.tile
      %h3 GitLab evaluated in recent reports
      %p Here are links to recent analyst reports where GitLab the company and/or the product has been covered or evaluated. GitLab generally has rights to distribute these reports. Clicking these links will direct you to a page where you may download the report.
    = partial "includes/forrester-reports"
    %ul
      %li
        %a{ href: "https://about.gitlab.com/resources/forrester-wave-ci-2017/", target: "_blank" }
          The Forrester Wave™: Continuous Integration Tools, Q3 2017
      %li
        %a{ href: "https://about.gitlab.com/analysts/forrester-vsm/", target: "_blank" }
          The Forrester New Wave™: Value Stream Management Tools, Q3 2018
      %li
        %a{ href: "https://about.gitlab.com/resources/report-idc-innovators-agile-code-development-2018/", target: "_blank" }
          IDC Innovators: Agile Code Development Technologies 2018
      %li
        %a{ href: "", target: "_blank" }
          Gartner Magic Quadrant for Application Release Orchestration 2018
    .content
      %h3 GitLab mentioned in recent reports
      %p Here are links to reports where GitLab is mentioned within the context of the report. GitLab usually does not have rights to distribute these reports, which means you will likely have access to them only if you have a subscription to that analyst's reports through your own organization. Clicking these links will bring you to the report on that analyst company's web site, and you will need to log in to download or view the report.
    .tile.margin-top50
      %h3 Forrester reports mentioning GitLab
      %ul
        %li
          %a{ href: "https://www.forrester.com/report/Evolve+Or+Retire+Administrators+Are+Now+Developers/-/E-RES137184", target: "_blank" }
            Evolve Or Retire: Administrators Are Now Developers, July 13, 2018
        %li
          %a{ href: "https://www.forrester.com/report/Elevate+AgilePlusDevOps+With+Value+Stream+Management/-/E-RES142463", target: "_blank" }
            Elevate Agile-Plus-DevOps With Value Stream Management, May 11, 2018
        %li
          %a{ href: "https://www.forrester.com/report/The+State+Of+Application+Security+2018/-/E-RES141676", target: "_blank" }
            The State of Application Security, 2018, January 23, 2108
        %li
          %a{ href: "https://www.forrester.com/report/The+Quest+For+SpeedPlusQuality+Drives+Agile+And+DevOps+Tool+Selection/-/E-RES122555", target: "_blank" }
            The Quest For Speed-Plus-Quality Drives Agile And DevOps Tool Selection, April 17, 2017
        %li
          %a{ href: "https://www.forrester.com/report/CloudBased+DevOps+Tools+Are+Ripening+Quickly/-/E-RES137388", target: "_blank" }
            Cloud-Based DevOps Tools Are Ripening Quickly, April 4, 2017
      .margin-top40
        %h3 Gartner reports mentioning GitLab
        %ul
          %li
            %a{ href: "https://www.gartner.com/document/3885963?ref=solrAll&refval=208989697&qid=276917aca8f1fd77467886cbc7621b4bhttps://www.gartner.com/document/3885963?ref=solrAll&refval=208989697&qid=276917aca8f1fd77467886cbc7621b4b", target: "_blank" }
              Hack Your Culture to Drive Quality and DevOps Success, 9 August, 2018
          %li
            %a{ href: "https://www.gartner.com/document/3872274?ref=solrAll&refval=208989697&qid=276917aca8f1fd77467886cbc7621b4b", target: "_blank" }
              Cool Vendors in DevOps, First Wave, 18 April, 2018
          %li
            %a{ href: "https://www.gartner.com/document/3883474?ref=solrAll&refval=208989697&qid=276917aca8f1fd77467886cbc7621b4b", target: "_blank" }
              Hype Cycle for I&O Automation 2018, 23 July 2018
          %li
            %a{ href: "https://www.gartner.com/document/3883693?ref=solrAll&refval=208989697&qid=276917aca8f1fd77467886cbc7621b4b", target: "_blank" }
              Hype Cycle for DevOps 2018, 24 July 2018
          %li
            %a{ href: "https://www.gartner.com/document/3869070?ref=solrAll&refval=208989697&qid=276917aca8f1fd77467886cbc7621b4b", target: "_blank" }
              Critical Capabilities for Application Security Testing, 19 March 2018
          %li
            %a{ href: "https://www.gartner.com/document/3879870?ref=solrAll&refval=208989697&qid=276917aca8f1fd77467886cbc7621b4b", target: "_blank" }
              Jump-Start Network Automation to Scale Digital Initiatives, 22 June 2018
      .margin-top40
        %h3 IDC reports mentioning GitLab
        %ul
          %li
            %a{ href: "https://www.idc.com/getdoc.jsp?containerId=lcUS43961318&pageType=PRINTFRIENDLY", target: "_blank" }
              Microsoft Significantly Expands Its Developer Collaboration Portfolio with GitHub Acquisition, June 5, 2018
          %li
            %a{ href: "https://www.idc.com/getdoc.jsp?containerId=US44268818", target: "_blank" }
              IDC Market Glance: DevOps, 3Q18
          %li
            %a{ href: "https://www.idc.com/getdoc.jsp?containerId=lcUS44193518&pageType=PRINTFRIENDLY", target: "_blank" }
              Google Cloud Next '18: Google Addresses Developer Needs with Developer Tools That Enhance Development in Cloud and On-Premises Environments, August 2, 2018
          %li
            %a{ href: "https://www.idc.com/getdoc.jsp?containerId=US41601017", target: "_blank" }
              IDC MarketScape: Worldwide Cloud Testing and ASQ SaaS 2017-2018 Vendor Assessment — Enabling Quality in and on the Cloud, February 2018
      .margin-top20
        %h3 GitLab Open Issues
